@model ModelPlain.EF.CHUYENBAY

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<section class="content pt-3">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-danger">
                <div class="card-header">
                    <h3 class="card-title">Xoá chuyến bay</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Tên Chuyến:</label>
                        @Html.DisplayFor(model => model.TEN_CHUYENBAY)
                    </div>
                    <div class="form-group">
                        <label>Ngày Bay:</label>
                        @Html.DisplayFor(model => model.NGAYBAY_CHUYENBAY)
                    </div>
                    <div class="form-group">
                        <label>Giờ Khởi Hành:</label>
                        @Html.DisplayFor(model => model.GIOBAY_CHUYENBAY)
                    </div>
                    <div class="form-group">
                        <label>Tên Tuyến Bay:</label>
                        @Html.DisplayFor(model => model.TUYENBAY.TEN_TUYENBAY)
                    </div>
                    <div class="form-group">
                        <label>Số Hiệu Máy Bay:</label>
                        @Html.DisplayFor(model => model.MAYBAY.SOHIEU_MAYBAY)
                    </div>
                </div>
                <div class="card-footer">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-actions no-color">
                            <input type="submit" value="Xoá" class="btn btn-danger" /> |
                            @Html.ActionLink("Về danh sách", "Index")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
