@model IEnumerable<ModelPlain.EF.CHUYENBAY>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content pt-2">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Danh Sách Chuyến Bay</h3>
                    <div class="card-tools">
                        <a href="@Url.Action("Create", "ChuyenBayAdmin")" class=" btn btn-success">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </a>
                        @Html.ActionLink("Tạo Mới Tuyến", "Create")
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Tên Chuyến Bay</th>
                                <th>Tên Tuyến Bay</th>
                                <th>Ngày </th>
                                <th>Giờ Xuất Phát</th>
                                <th>Số Hiệu Máy Bay</th>
                                <th>Tiện Ích</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => item.TEN_CHUYENBAY)</td>
                                    <td>
                                        @item.NGAYBAY_CHUYENBAY.ToShortDateString()
                                    </td>
                                    <td> @Html.DisplayFor(modelItem => item.GIOBAY_CHUYENBAY)</td>
                                    <td> @Html.DisplayFor(model => item.TUYENBAY.TEN_TUYENBAY)</td>
                                    <td> @Html.DisplayFor(model => item.MAYBAY.SOHIEU_MAYBAY)</td>
                                    <td>
                                        <a href="@Url.Action("Edit", "ChuyenBayAdmin", new { id = item.MA_CHUYENBAY })" , class="pr-3">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a href="@Url.Action("Delete", "ChuyenBayAdmin", new { id = item.MA_CHUYENBAY })">
                                            <i class="fa fa-times" aria-hidden="true" style="color:#d63031"></i>
                                        </a>                                        
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
</section>
@section DataTables {
    <script src="~/Content/admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/admin/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>
}
