@model ModelPlain.EF.LOAIKHACH

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LOAIKHACH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TEN_LOAIKHACH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_LOAIKHACH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHANTRAMGIA_LOAIKHACH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHANTRAMGIA_LOAIKHACH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TINHTRANG_LOAIKHACH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TINHTRANG_LOAIKHACH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MA_LOAIKHACH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
